@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body,
button,
input,
select,
textarea {
  font-family: "Crimson Text", serif, serif;
}

.box {
  margin-top: 0.5rem;
  padding: .5rem;
}

@media screen and (min-width: 1088px) {
  .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
    margin-left: inherit;
  }
}

.columns:last-child {
  margin-bottom: 0;
}
/*.box:not(:last-child) {*/
  /*margin-bottom: 0;*/
/*}*/

.icon {
    height: inherit;
}
.hidden {
  display: none;
}

.navbar-item {
  line-height: 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  background: rgba(245, 245, 245, 0.3);
}

.navbar-item img {
  max-height: 3.75rem;
}

.navbar {
  margin-bottom: 0.25rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

img {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

body {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.card-content {
  padding: 1.1rem 1.5rem
}

.subtitle {
  line-height: 1.125;
}


